<article id="photo-stream">
  <% @photos.each do |photo|  %>
    <section>
      <a href='<%= photo_path(photo)%>'><%= image_tag photo.image.url(:medium) %></a>
      <%= photo.description %>
    </section>
  <% end %>
</article>
